#global-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .theme-container {
    flex-grow: 1;
    flex-shrink: 0;

    &.custom {
      .theme-default-content {
        max-width: none;
        padding: 0;

        & > :first-child {
          margin-top: 0;
        }
      }
    }
  }

  .main-footer {
    flex-grow: 0;
  }
}

.section {
  &--m-gap {
    margin: 92px 0;

    @include media('<=tablet-lg') {
      margin: 62px 0;
    }

    @include media('<=tablet') {
      margin: 32px 0;
    }
  }

  &--p-gap {
    padding: 92px 0;

    @include media('<=tablet-lg') {
      padding: 62px 0;
    }

    @include media('<=tablet') {
      padding: 32px 0;
    }
  }
}