.main-header {
  padding: 21px 0;

  &__box {
    display: flex;
    align-items: center;
  }

  .logo-holder{
    margin-right: 20px;
  }

  .search-box {
    margin-left: auto;
  }

  .logo {
    width: 100%;
    display: block;

    &-holder {
      max-width: 200px;
    }
  }

  .login-links {
    .btn {
      margin-left: 17px;

      &.btn--register {
        margin-left: 8px;
      }
    }
  }
}