// This is base reset for global components.
//
// Note: If you use a framework that includes base styling then you need to remove this file.

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html body {
  @include font-smoothing(on);
  color: var(--base-text-color);
  background: #fff;
  font: var(--base-body-font-weight) var(--base-font-size-xs) / var(--base-line-height) var(--base-font-family);
  min-width: var(--base-min-width);

  &.menu-opened {
    overflow: hidden;
    height: 100vh;
  }

  &.body-fixed {
    position: fixed;
  }
}
.main-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
// adaptive images
img {
  max-width: 100%;
  height: auto;
}

// google map fix
.gm-style img {
  max-width: none;
}

// hide tel links on desktop
@include media("screen", ">desktop") {
  a[href^="tel"],
  a[href^="skype"],
  a[href^="sms"] {
    cursor: default;
    pointer-events: none;
  }
}
