// Typography
//
// Base font styles for headings and links.
html {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6,
  .h {
    font-family: var(--headings-font-family);
    font-weight: var(--base-headings-font-weight);
    line-height: var(--headings-line-height);
    margin: 0 0 25px;
    color: var(--headings-color);
    border-bottom: none;
  }

  h1, .h1 {
    font-weight: var(--base-h1-font-weight);
    font-size: var(--h1-font-size);
    margin-bottom: 0.41em;

    @include media("<desktop") {
      margin-bottom: 0.45em;
    }

    @include media("<tablet") {
      margin-bottom: 0.34em;
    }
  }

  h2, .h2 {
    margin: 0 0 15px;
    font-weight: var(--base-h2-font-weight);
    font-size: var(--h2-font-size);
  }

  h3, .h3 {
    font-weight: var(--base-h3-font-weight);
    font-size: var(--h3-font-size);
  }

  h4, .h4 {
    margin: 0 0 26px;
    font-weight: var(--base-h4-font-weight);
    font-size: var(--h4-font-size);
  }

  h5, .h5 {
    font-weight: var(--base-h5-font-weight);
    font-size: var(--h5-font-size);
  }

  h6, .h6 {
    font-weight: var(--base-h6-font-weight);
    font-size: var(--h6-font-size);
  }
}

button {
  font-family: var(--base-body-font-family);
}

p {
  margin: 0 0 1em;
}

a {
  html & {
    @include animate(opacity);
    color: var(--base-accent-color);
    font-weight: 400;
    opacity: 1;
    text-decoration: none;
    &:focus {
      text-decoration: none;
    }
    @include media('hover') {
      &:hover {
        opacity: .8;
        text-decoration: none;
      }
    }

    &.btn {
      opacity: 1;
    }
  }

  &:not(.nav-link) {

    .icon.outbound {
      margin-left: 3px;

      path,
      polygon {
        fill: var(--base-accent-color);
      }
    }
  }

  &.external {
    &:not(.nav-link) {
      text-decoration: none;
      display: inline;
      padding-right: 20px;
      background: url('/images/external-link.svg') no-repeat 100% 0;
    }
  }
}
html {

  .theme-default-content:not(.custom) a:hover {
    text-decoration: none;
  }
}

.text-center {
  text-align: center;
}