
/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.demo-component
  padding 10px
  border 1px solid #f0f0f0

//
//.content-block__heading
//.content-block__body
//  padding 30px

.content-block__heading
  width 50%
  background #fff
  h1, h3, h2, h4, h5, h6
    margin 0

.content-block__body
  display: flex;
  overflow-x: hidden;
  p
    //color #fff

.content-block__cont, .content-block__examples
  width: 50%;
  padding 30px

.content-block__cont
  background #fff

.content-block
  background #000

.content-block__examples
  color #fff


.custom
  .theme-default-content:not(.custom) {
    max-width none;
    padding: 2rem 0 2rem 2.5rem;
  }
