.dashboard-section {
  display: flex;
  height: 100%;
  position: relative;
  margin-top: 0 !important;

  @include media('<desktop') {
    margin-top: 36px !important;
  }

  .dashboard-sidebar {
    @include animate(transform);

    width: 350px;
    background: var(--base-light-background-color);
    padding: 50px 30px 30px 100px;
    flex-shrink: 0;

    @include media('<desktop') {
      position: absolute;
      top: 30px;
      left: 0;
      height: 100%;
      transform: translateX(-100%);
      border-top: 1px solid var(--base-border-color);
      border-right: 1px solid var(--base-border-color);
    }

    &.show-sidebar {
      @include media('<desktop') {
        transform: translateX(0);
      }
    }
  }

  .dashboard-title {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: var(--primaty-dark-color);
    margin-bottom: 23px;
  }

  .sidebar-list {
    @extend %listreset;
  }

  .sidebar-item {
    display: flex;
    cursor: pointer;

    @include media('hover') {
      &:hover {
        .icon-wrap {
          svg {
            fill: var(--base-accent-color);
          }
        }

        .sidebar-item-text {
          color: var(--base-accent-color);
        }
      }
    }

    &.active {
      .icon-wrap {
        svg {
          fill: var(--base-accent-color);
        }
      }

      .sidebar-item-text {
        color: var(--base-accent-color);
      }
    }

    & + .sidebar-item {
      margin-top: 18px;
    }
  }

  .icon-wrap {
    svg {
      fill: var(--primaty-dark-color);
    }
  }

  .sidebar-item-text {
    font-size: 12px;
    font-weight: bold;
    color: var(--primaty-dark-color);
    margin-left: 10px;
    text-transform: uppercase;
  }

  .dashboard-content {
    padding: 30px;

    @include media('<desktop') {
      width: 100%;
    }
    @include media('<tablet') {
      padding: 30px 15px;
    }

    & > * + *:not(.dashboard-modal) {
      margin-top: 60px;
    }
  }

  .flex-container {
    display: flex;
  }

  .create-app-banner {
    background: var(--base-light-background-color);
    padding: 40px 70px 30px 30px;
    border-radius: 15px;
    display: inline-block;
  }

  .create-app-banner-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    display: block;
  }

  .create-app-banner-text {
    font-size: 16px;
  }

  .content-box {
    &:first-child {
      max-width: 700px;
    }

    &:last-child {
      margin-left: 100px;
      flex-shrink: 0;

      @include media('<tablet') {
        margin-left: 15px;
      }
    }

    img {
      width: 90px;
      height: 150px;
    }
  }

  .btn-wrap {
    margin-top: 20px;

    & > * + * {
      margin-left: 30px;
    }
  }

  .links-cards-title {
    font-size: 20px;
    font-weight: bold;
  }

  .cards-wrap {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-bottom: 40px;

    .btn {
      font-size: 12px;
    }
  }

  .card-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .card-text {
    font-size: 14px;
    margin-bottom: 14px;
  }

  .aside-menu-swipe-area {
    position: absolute;
    left: 50%;
    top: -35px;
    height: 65px;
    width: 70%;
    transform: translateX(-50%);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--color-grey);
    font-weight: bold;

    @include media('<desktop') {
      display: flex;
    }
  }
}
