.icon-spinner{
  border: 3px solid var(--color-white);;
  border-top: 3px solid var(--base-accent-color);
  border-right: 3px solid var(--base-accent-color);
  border-radius: 50%;
  animation: spin .7s linear infinite;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  display: block;

  &--table {
    width: 14px;
    height: 14px;
    border-width: 2px;
  }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
