.industry-hero-section  {
  background-color: transparent;

  .hero-section__description {
    max-width: 560px;
    line-height: 1.6;
  }

  .hero-image-holder {
    &:after {
      display: none;
    }
  }
}