.industry-hero-section  {
  background-color: transparent;

  .hero-section__description {
    max-width: 560px;
    line-height: 1.6;
  }

  .hero-image-holder {
    &:after {
      // left: 0;
      // top: 0;
      // height: 100%;
      // width: 100%;
      // z-index: 2;
      // background: transparent;
      display: none;
    }
  }
}