// vuepress styles
html {
  .navbar {
    background: var(--base-page-background-color);
    height: auto;
    border: none;
    .site-name {
      position: relative;
    }
    .links {
      padding-left: 1.5rem;
      box-sizing: border-box;
      background-color: #fff;
      white-space: nowrap;
      font-size: 0.9rem;
      position: absolute;
      display: flex;
      .search-box {
        flex: 0 0 auto;
        vertical-align: top;
      }
    }
  }
  .navbar a,
  .navbar span,
  .navbar img {
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding-left: 4rem;
    .can-hide {
      display: none;
    }
    .links {
      padding-left: 1.5rem;
    }
    .site-name {
      width: calc(100vw - 9.4rem);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

// custom styles
.navbar {
  @include media('<=tablet') {
    padding-left: 0;
  }

  .nav-links {
    @include media('<=tablet-lg'){
      display: none;
    }
    
    .nav-item {
      color: var(--base-text-color);
      margin-left: 0;

      & > a:not(.external) {
        &:hover,
        &.router-link-active{
          border-bottom: none;
          margin-bottom: 0;
          color: var(--base-accent-btn-bg-color);
        }
      }
    }

    .nav-link {
      &:hover {
        opacity: 1;
      }
      
      @media (min-width: 719px) {
        padding: 15px 18px 17px;
      }
    }

    .dropdown-wrapper {
      @media (min-width: 719px) {
        height: auto;
        padding: 15px 18px 17px;
      }

      @include media('<desktop') {
        padding: 15px 10px 17px;
      }

      &:hover {
        .arrow {
          transform: scaleY(-1);
          position: relative;
        }
      }

      .dropdown-title ,
      .mobile-dropdown-title {
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--base-text-color);
        padding: 0;

        .arrow {
          width: 8px;
          height: 8px;
          background: url('/images/expand_arrow.svg') center no-repeat;
          border: none;
          margin-top: -1px;
          margin-left: 0.4rem;
        }
      }

      .nav-dropdown{
        @extend %listreset;
        padding: 8px 0;
        border-radius: 0;
        border: none;
        border-top: 2px solid var(--base-accent-color);

        @media (min-width: 719px) {
          top: calc(100% - 7px);
          right: auto;
          left: 3px;
          min-width: 100%;
        }

        .dropdown-item {
          a {
            padding: 10px 15px;
            &:after {
              display: none;
            }

            &:hover {
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
