html { 
  .search-box {
    input {
      @include animate(border-color width);
      cursor: pointer;
      width: 40px;
      height: auto;
      color: var(--base-text-color);
      font-weight: 400;
      display: inline-block;
      border: 1px solid transparent;
      border-radius: 20px;
      font-size: 14px;
      font-family: var(--base-body-font-family);
      line-height: 1;
      padding: 7px 10px 4px 30px;
      outline: none;
      transition: all 0.3s ease;
      background: url('/images/search.svg') 7px 50% no-repeat;

      &:focus {
        cursor: text;
        width: 160px;
        padding: 7px 10px 4px 35px;
      }
    }
  }
}