.panel-collapsable.panel-collapsable.panel-collapsable.panel-collapsable {
  @include animate(transform box-shadow);
  position: fixed;
  margin: 0;
  top: 96px;
  right: 0;
  height: calc(100vh - 96px);
  width: 442px;
  padding: 26px 24px 120px;
  background: #323336;
  color: #fff;
  transform: translateX(324px);
  z-index: 1;

  @include media('<tablet') {
    top: 63px;
    height: calc(100vh - 63px);
    transform: translateX(100%);
    max-width: 100vw;
  }

  &.opened {
    transform: translateX(0);
    box-shadow: 0 0 20px 20px var(--shadow-light-color);

    & ~ .has-code-panel-block {
      .code-panel-block-holder {
        transform: translateX(calc(-100% + 85px));

        @include media('<tablet') {
          transform: translateX(-100%);
        }
      }
    }

    .panel-opener {
      @include media('<tablet') {
        transform: translateX(0);
      }
    }
  }

  .panel-opener {
    @include animate(transform);
    cursor: pointer;
    display: block;
    padding: 5px;
    margin: -4px 0 0 -14px;
    background: none;
    appearance: none;
    border: none;
    background: #323336;
    z-index: 2;

    @include media('<tablet') {
      transform: translateX(-45px);
      padding: 8px;
      margin: -7px 0 0 -17px;
      border-radius: 4px 0 0 4px;
    }

    svg {
      display: block;
    }
  }
}

.has-code-panel-block {
  position: relative;

  .code-panel-block-holder {
    @include animate(transform);
    position: absolute;
    top: 0;
    left: calc(100% + 50px);
    width: 412px;
    max-width: calc(100vw - 30px);
    padding: 0 24px;
    transform: translateX(0);
    z-index: 3;

    @include media('<tablet-xs') {
      padding: 0 20px 0 0;
      left: calc(100% + 24px);
      max-width: calc(100vw - 50px);
    }
  }
}

pre[class^="language-"] {
  overflow-y: hidden !important;
  transition: max-height 1s ease;
  border-radius: 8px;

  /* width */
  &::-webkit-scrollbar {
    height: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(25, 49, 85);
  }
}
